<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>


    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>Servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getCourseList</servlet-name>
        <servlet-class>Servlet.GetCourseListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getCourseList</servlet-name>
        <url-pattern>/cList.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getStudentList</servlet-name>
        <servlet-class>Servlet.GetStudentList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getStudentList</servlet-name>
        <url-pattern>/sList.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getLocation</servlet-name>
        <servlet-class>Servlet.GetLocationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getLocation</servlet-name>
        <url-pattern>/location.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getAttributeWithCertified</servlet-name>
        <servlet-class>Servlet.GetAttributeWithCertifiedServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getAttributeWithCertified</servlet-name>
        <url-pattern>/awc.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getGrade</servlet-name>
        <servlet-class>Servlet.GetGradeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getGrade</servlet-name>
        <url-pattern>/grade.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getInteraction</servlet-name>
        <servlet-class>Servlet.GetInteractionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getInteraction</servlet-name>
        <url-pattern>/interaction.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>stuGetCourseList</servlet-name>
        <servlet-class>Servlet.StuGetCourseList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>stuGetCourseList</servlet-name>
        <url-pattern>/stuCList.do</url-pattern>
    </servlet-mapping>

</web-app>